<%- extend('../base_admin') -%>


  <!-- Basic Bootstrap Table -->
  <div class="card">
    <div class="card-datatable table-responsive">
      <div class="card-header row justify-content-around">
        <div class="col-4 text-start">
          <h5 class="card-title">Liste des opérateurs</h5>
        </div>
        <div class="col-8 text-end">
          <a 
          href="<%= routedebase %>/operator_management/add_operator" 
          class="dt-button create-new btn btn-primary">
            <span>
              <i class="bx bx-plus me-1"></i>
              Ajouter un opérateur
          </a>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive text-nowrap">
  
          <% if (locals.operators && operators.length> 0) { %>
            <table class="table border-top" id="operator_list">
              <thead>
                <tr>
                  <th>Code</th>
                  <th>Nom & Prenom</th>
                  <th>Nom d'utilisateur</th>
                  <th>Statut</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                <% for(o of operators) { %>
                  <tr>
                    <td>
                      <%= o.code %>
                    </td>
                    <td>
                      <%= o.firstname %> <%= o.lastname %>
                    </td>
                    <td>
                      <%= o.username %>
                    </td>
                    <td>
                      <% if (o.is_active) { %>
                        <span class="badge bg-label-success me-1">Actif</span>
                      <% } else { %>
                        <span class="badge bg-label-danger me-1">Inactif</span>
                      <% } %>
                    </td>
                    <td>
                      <div class="dropdown">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                          <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" 
                            href="<%= routedebase %>/operator_management/view_operator/<%= o.id %>">
                            <i class="bx bx-show me-1"></i>
                            Détails
                          </a>
                          <a class="dropdown-item" 
                            href="<%= routedebase %>/operator_management/edit_operator/<%= o.id %>">
                            <i class="bx bx-edit-alt me-1"></i>
                            Modifier
                          </a>
                          <% if (o.is_active) { %>
                            <a class="dropdown-item" 
                              href="<%= routedebase %>/operator_management/disable_operator/<%= o.id %>">
                              <i class="bx bx-x me-1"></i>
                              Désactiver
                            </a>
                          <% } else { %>
                            <a class="dropdown-item" 
                              href="<%= routedebase %>/operator_management/enable_operator/<%= o.id %>">
                              <i class="bx bx-check me-1"></i>
                              Activer
                            </a>
                          <% } %>
                      </div>
                      </div>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
            <% } else { %>
              <% if (locals.error) { %>
                <div class="alert alert-danger">
                  <div class="alert-body text-center">
                    <i class="fas fa-exclamation-triangle me-1"></i>
                    <span class="ms-1">
                      <%= locals.error %>
                    </span>
                  </div>
                </div>
              <% } else { %>
                <div class="alert alert-warning">
                  <div class="alert-body text-center">
                    <i class="fas fa-exclamation-triangle me-1"></i>
                    <span class="ms-1">Aucun opérateur n'a été trouvé</span>
                  </div>
                </div>
              <% } %>
            <% } %>
        </div>
      </div>
    </div>
  </div>
  <!--/ Basic Bootstrap Table -->